body {
    background-color: #272727;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    width: 250px;
    margin: 100px auto;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
  }
  
  .display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #777;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color:#272727;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {  
    background-color:orange;
  }
  